<div class="KopeteMessage">
	<div class="IncomingMessageHeader">
		<!-- Time Display -->
		<div class="inTime">%time%</div>
		<!-- MetaContact display -->
		<div class="inMetacontact"><span class="%senderColor%">%sender%</span> &#160;</div>
	</div>
	<ul class="IncommingList" >
		<li class="IncomingMessage" >%message%</li>
		<!-- For support of consecutive messages -->
		<div id="insert" />
	</ul>	
</div>
